body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

.Header {
  background-color: #1d1d1d;
  height: 35px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
  font-size: 17px;
  color: white;
}

.sub-header {
  background-color: #f1f1f1;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #333;
}

/* .sub-header {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */

.nmit-logo {
  height: 80px;
  width: auto;
  margin-left: 55px;
  margin-bottom: 20px;
}

.Search-box {
  display: block;
  margin-left: auto;
  padding-right: 50px;
}

.search {
  height: 45px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

.search-btn {
  height: 38px;
  width: 90px;
  border-radius: 20px;
  border: none;
  background-color: #014682;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #3d678c;
  transform: scale(1.05);
  transform:;
}

/* ------------------------------- */
/* .Team-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  font-size: 26px;
  font-weight: 480;
} */
/* ---------------------------------- */

/* Auto Sliding Label */

.Team-intro {
  display: flex; /* make children align in a row */
  gap: 9rem;
  font-size: 18px;
  font-weight: 500;
  font: bold;
  padding-block: 8px;
  border-block: 0.6px solid black;
  background-color: #e3e3e3;
  overflow: hidden;
  white-space: nowrap; /* prevent line break */
  user-select: none; /* prevent text selection or highlite */
}

.team-name {
  display: inline-block; /* instead of flex */
}

.team-name {
  display: inline-flex;
  gap: 9rem;
  animation: scroll 13s linear infinite;
}

.Team-intro:hover .team-name {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 9rem));
  }
}

/* ----Slider Section---- */

.slider-body {
  background-image: linear-gradient(to top right, skyblue, #1d2598);
  min-height: calc(100vh - 155px);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  overflow: hidden;
  perspective: 1000px;
}

.item {
  position: absolute;
  width: 300px;
  height: 420px;
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  /* left: calc(50% - 300px); */
  top: 13%;
  transform: translateY(-50%);
  left: 15%;
}

#next,
#prev {
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 50px;
}

#next {
  left: unset;
  right: 50px;
}
/* 
.div-box {
  width: 700px;
  height: 420px;
  background-color: #cc0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
} */

.photo-info {
  position: absolute;
  width: 650px;
  height: 420px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 120px;
  transition: 0.5s;
  left: calc(50% - 100px);
  top: -0%;
  left: 110%;
}

.item {
  transform: translateX(-100px);
}

.photo-info {
  transform: translateX(100px);
}
